{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
{% if app.user != null %}
    <p id="username">{{app.user.getUserIdentifier()}}</p>
{% endif %}
{% endblock %}



